.bottom-bar {
  position: absolute;
  bottom: 0px;
  background: #efefef;
  height: 2.8125rem;
  line-height: 2.8125rem;
  margin-bottom: 0;
}

.button, button {
  color: #fff;
}

.logo {
  background: #333;
  padding: 0 4rem;
  margin: 1.2rem 0;
}

.alert-box.error{
  border: none;
}

.alert-box, .alert-box.error {
  display: none;
}

/* Custom Animations */

button.register {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 1.5s;
  animation-duration: 3s;
  animation-delay: 1.5s;
}

button.reset {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  animation-duration: 3s;
  animation-delay: 2s;
}

div.name-field {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1s;
  animation-duration: 1s;
  animation-delay: .5s;
}

div.email-field {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .75s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .75s;
  animation-duration: 1s;
  animation-delay: .75s;
}

div.password-field {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1s;
  animation-duration: 1s;
  animation-delay: 1s;
}

div.confirm-password-field {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1.25s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1.25s;
  animation-duration: 1s;
  animation-delay: 1.25s;
}

img.logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 2s;
  animation-duration: 1s;
  animation-delay: 2s;
}

/*form#reset {
  display: none;
}*/